<!--
vim: set ft=html:
-->
<form method="POST" action="/new_game">
    <input type="text" name="name"></input>
    <input type="submit" value="Create New Game">
</form>

<table border=1>
<tr>
    <th>Name</th><th>Status</th><th>Players</th>
</tr>
<% FOREACH game = games_template_var %>
<tr>
    <td>
        <b><% game.name %>
    </td>
    <td>
        <b><% game.status %>
    </td>
    <td>
        <% game.num_players %> / <% game.max_players %>
    </td>
</tr>
<% END %>

</table>
