<!--
vim: set ft=html:
-->
<table border=1>
<tr>
    <th>Name</th><th>Status</th><th>Players</th><th>Max Players</th>
</tr>
<% FOREACH game = games %>
<tr>
    <td>
        <b><% game.name %>
    </td>
    <td>
        <b><% game.status %>
    </td>
    <td>
        <b><% game.players.join(',') %>
    </td>
    <td>
        <b><% game.max_players %>
    </td>
</tr>
<% END %>

</table>
